html {
    font-family:DejaVu Sans, Bitstream Vera Sans, Arial, Sans;
}

#log .warning,
#log .warning a {
  color: black;
  background: yellow;
}

#log .error,
#log .error a {
  color: white;
  background: red;
}

#log pre {
  border: 1px solid black;
  padding: 1em;
}

section#summary {
    margin-bottom:1em;
}

table#results, table#report {
    border-collapse:collapse;
    table-layout:fixed;
    width:100%;
}

table#results th:first-child,
table#results td:first-child {
    width:4em;
}

table#report th:not(:first-child),
table#report td:not(:first-child) {
    width:8em;
}

table#results th:last-child,
table#results td:last-child {
    width:50%;
}

table#results.assertions th:last-child,
table#results.assertions td:last-child {
    width:35%;
}

table#results th, table#report thead th {
    padding:0;
    padding-bottom:0.5em;
    border-bottom:medium solid black;
}

table#report tfoot {
    padding:0;
    padding-top:0.5em;
    border-top:medium solid black;
    border-bottom:thin solid black;
}

table#results td, table#report td {
    padding:1em;
    padding-bottom:0.5em;
    border-bottom:thin solid black;
}

tr.pass > td:first-child, td.pass {
    color:green;
}

tr.fail > td:first-child, td.fail {
    color:red;
}

tr.timeout > td:first-child, td.timeout {
    color:red;
}

tr.notrun > td:first-child, td.notrun {
    color:blue;
}

table#result td:first-child, table#report .pass, table#report .fail, table#report .timeout, table#report .notrun {
    font-variant:small-caps;
}

table#results span {
    display:block;
}

table#results span.expected {
    font-family:DejaVu Sans Mono, Bitstream Vera Sans Mono, Monospace;
    white-space:pre;
}

table#results span.actual {
    font-family:DejaVu Sans Mono, Bitstream Vera Sans Mono, Monospace;
    white-space:pre;
}

